
* {
        backface-visibility: hidden !important;
        -webkit-backface-visibility: hidden !important;
}

@font-face {
        font-family: Avenir LT Std;
        font-style: normal;
        font-weight: 400;
        src: local('Avenir LT Std'), url(https://fonts.cdnfonts.com/s/13298/AvenirLTStd-Roman.woff) format('woff');
}

@font-face {
        font-family: Avenir LT Std;
        font-style: bold;
        font-weight: 700;
        src: local('Avenir LT Std'), url(https://fonts.cdnfonts.com/s/13298/AvenirLTStd-Roman.woff) format('woff');
}

:root {
        --black: black;
        --ourdate-black: #363636:
        --blue-0: #50afbf;
        --blue-1: #50afbf;
        --blue-2: #82c6d1;
        --blue-3: #9bd1da;
        --blue-4: #b4dd34;
        --blue-5: #cde8ed;
        --blue-6: #e6f4f6;
        --grey-2: #d5d5d5;
        --grey: #7a7a7a;
        --ourdate-white: #f5f5f5;
        --red: #d84949;
        --white: white;
        --border-radius: 16px;
        --input-border-radius: 8px;
        --header-height: calc( env(safe-area-inset-top) + 22px);
        --footer-height: 50px;
        --profile-image-size: 42vw;
        --max-profile-image-size: calc(428pt * 0.42 * 0.5);
        --max-width: 428pt;
        --light-blue: var(--blue-3);
        font-family: 'Avenir LT Std', Arial, sans-serif;
        font-weight: 400;
}